---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/500?api_key=<PROPUBLICA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - ea1533d7eacdf7908fcd7b88f0265abe
      X-Memc-Age:
      - '6540'
      X-Memc-Expires:
      - '15835'
      Etag:
      - W/"732ad5db6d3aa63d4665ccd1af446293"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/jqFjgNnxpXIXWuPsyfqmcLXRo9p.jpg","belongs_to_collection":null,"budget":1200000,"genres":[{"id":80,"name":"Crime"},{"id":53,"name":"Thriller"}],"homepage":"","id":500,"imdb_id":"tt0105236","original_language":"en","original_title":"Reservoir
        Dogs","overview":"A botched robbery indicates a police informant, and the
        pressure mounts in the aftermath at a warehouse. Crime begets violence as
        the survivors -- veteran Mr. White, newcomer Mr. Orange, psychopathic parolee
        Mr. Blonde, bickering weasel Mr. Pink and Nice Guy Eddie -- unravel.","popularity":71.947,"poster_path":"/xi8Iu6qyTfyZVDVy60raIOYJJmk.jpg","production_companies":[{"id":285,"logo_path":"/ebAB20KtEg4J0eFMFBGhFJsSoYc.png","name":"Live
        Entertainment","origin_country":"US"},{"id":26198,"logo_path":null,"name":"Dog
        Eat Dog Productions","origin_country":""}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1992-09-02","revenue":2859750,"runtime":99,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Every
        dog has his day.","title":"Reservoir Dogs","video":false,"vote_average":8.129,"vote_count":13725}'
  recorded_at: Thu, 21 Mar 2024 02:36:48 GMT
[...]
